.parent-model{
  /* border: 5px solid red; */
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(0,0,0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.model{
  display: flex;
  flex-direction: column;
    justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 300px;
  position: fixed;
  /* display: none; */
  scale: 1;
  animation: mymove 0.5s;
/*   overflow-y: scroll;*/ 
  padding-top: 50px;
  scroll-padding-top: 50px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
@keyframes mymove {
0% {scale: 0}
100% {scale: 1}
}